<div class="portfolio-items-inner row">
  <div class="col-lg-4 col-md-6 portfolio-item filter-app" *ngFor="let item of skeletonItems">
    <div class="portfolio-wrap">
      <div class="card-background">
        <div class="card-icon">
          <div class="card-img skeleton-image"></div>
        </div>
        <h5 class="skeleton-title"></h5>
        <div class="card-technologies">
          <div class="skeleton-icon"></div>
          <div class="skeleton-icon"></div>
          <div class="skeleton-icon"></div>
          <div class="skeleton-icon"></div>
        </div>
      </div>
      <div class="portfolio-info">
        <div class="skeleton-category"></div>
        <div class="portfolio-links">
          <div class="skeleton-link"></div>
        </div>
      </div>
    </div>
  </div>
</div> 