<div >
  <div class="navbar-wrapper">
    <app-navbar></app-navbar>
  </div>
    <section id="portfolio" class="portfolio extracted-page">
        <div class="container">
    
          <div class="section-title">
            <h2>Portfolio</h2>
            <p>My Works</p>
          </div>
    
          <!-- <div class="row">
            <div class="col-lg-12 d-flex justify-content-center">
              <ul id="portfolio-flters">
                <li data-filter="*" class="filter-active">All</li>
                <li data-filter=".filter-app">Web</li>
                <li data-filter=".filter-card">Mobile</li>
                <li data-filter=".filter-web">IoT</li>
              </ul>
            </div>
          </div> -->
    
          <div class="row portfolio-container">
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <div class="card-background">
                  <div class="card-icon">
                    <img src="assets/img/portfolio/fingerprint-scan.gif" alt="" class="card-img">
                  </div>
                  <h5>Biometric ATM</h5>
                  <div class="card-technologies">
                    <i class='bx bxl-angular tech-icon'></i>
                    <i class='bx bxl-python tech-icon'></i>
                    <i class='bx bxs-microchip tech-icon'></i>
                    <i class='bx bxl-postgresql tech-icon'></i>
                  </div>
                </div>
                <div class="portfolio-info">
                  <p>IoT</p>
                  <div class="portfolio-links">
                    <a data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                        class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                      class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <div class="card-background">
                  <div class="card-icon">
                    <img src="assets/img/portfolio/barcode.gif" alt="" class="card-img">
                  </div>
                  <h5>Smart Car Park</h5>
                  <div class="card-technologies">
                    <i class='bx bxs-microchip tech-icon'></i>
                    <i class='bx bxl-flask tech-icon' ></i>
                    <i class='bx bxl-angular tech-icon'></i>
                    <i class='bx bxl-postgresql tech-icon'></i>
                  </div>
                </div>
                <div class="portfolio-info">
                  <p>IoT</p>
                  <div class="portfolio-links">
                    <a data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                        class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                      class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <div class="card-background">
                  <div class="card-icon">
                    <img src="assets/img/portfolio/consultation.gif" alt="" class="card-img">
                  </div>
                  <h5>TapMedik</h5>
                  <div class="card-technologies">
                    <i class='bx bxl-angular tech-icon'></i>
                    <i class='bx bxl-flutter tech-icon' ></i>
                    <i class='bx bxl-spring-boot tech-icon' ></i>
                    <i class='bx bxl-postgresql tech-icon'></i>
                  </div>
                </div>
                <div class="portfolio-info">
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                        class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                      class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <div class="card-background">
                  <div class="card-icon">
                    <img src="assets/img/portfolio/way.gif" alt="" class="card-img">
                  </div>
                  <h5>Taxi Hailing App</h5>
                  <div class="card-technologies">
                    <i class='bx bxl-angular tech-icon'></i>
                    <i class='bx bxl-flutter tech-icon' ></i>
                    <i class='bx bxl-nodejs tech-icon' ></i>
                    <i class='bx bxl-mongodb tech-icon' ></i>
                  </div>
                </div>
                <div class="portfolio-info">
                  <p>Mobile</p>
                  <div class="portfolio-links">
                    <a data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                        class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                      class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <div class="card-background">
                  <div class="card-icon">
                    <img src="assets/img/portfolio/lms.gif" alt="" class="card-img">
                  </div>
                  <h5>LMS Leave Management</h5>
                  <div class="card-technologies">
                    <i class='bx bxl-angular tech-icon'></i>
                    <i class='bx bxl-django tech-icon' ></i>
                    <i class='bx bxl-postgresql tech-icon'></i>
                  </div>
                </div>
                <div class="portfolio-info">
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                        class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                      class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <div class="card-background">
                  <div class="card-icon">
                    <img src="assets/img/portfolio/primesure.gif" alt="" class="card-img">
                  </div>
                  <h5>Primesure Insurance System</h5>
                  <div class="card-technologies">
                    <i class='bx bxl-angular tech-icon'></i>
                    <i class='bx bxl-java tech-icon'></i>
                    <i class='bx bxl-spring-boot tech-icon' ></i>
                    <i class='bx bxl-postgresql tech-icon'></i>
                  </div>
                </div>
                <div class="portfolio-info">
                  <p>Web</p>
                  <div class="portfolio-links">
                    <a data-gallery="portfolioGallery" class="portfolio-lightbox" title="App 1"><i
                        class="bx bx-plus"></i></a>
                    <a href="portfolio-details.html" data-gallery="portfolioDetailsGallery" data-glightbox="type: external"
                      class="portfolio-details-lightbox" title="Portfolio Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
    
</div>