#navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}


@media(max-width: 981px){
    .show-mobile-menu{
        display: block;
    }

    .hide-mobile-menu{
        display: none;
    }

    ul{
        display: flex;
        width: 100%;
        background-color: black;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    li{
        margin: 25px 0px !important;
        padding: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
