<header id="header">
  <div class="container">
    <h1 class="centered-intro">
      <span class="homepage-name">Bruce T Chimoyo</span>
    </h1>
    <!-- Uncomment below if you prefer to use an image logo -->
    <!-- <a href="index.html" class="mr-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a> -->
    <div class="intro-wrapper">
      <h2 class="centered-intro intro-text">
        Hie there, It's your
        <ngx-typed-writer
          [strings]="['Software Developer', 'AI Enthusiast']"
          [cursorChar]="'|'"
          [showCursor]="false"
          [typeSpeed]="100"
          [startDelay]="500"
          [backSpeed]="50"
          [backDelay]="2500"
          [loop]="true"
        >
        </ngx-typed-writer>
        here 😉 !!!!!!!!!!!!!!!!!!!!!!!!!!!!.
      </h2>
    </div>

    <div class="navbar-wrapper">
      <app-navbar></app-navbar>
    </div>

    <div class="social-links">
      <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
      <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
      <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
      <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
    </div>
  </div>
</header>
<!-- End Header -->
