<div>
  <div class="navbar-wrapper">
    <app-navbar></app-navbar>
  </div>
  <section id="resume" class="resume extracted-page">
    <div class="container">

      <div class="section-title">
        <h2>Resume</h2>
        <p>Check My Resume</p>
        <button type="submit" class="download-resume-button">Download &nbsp;<i class="bi bi-download"></i></button>
      </div>

      <div class="row">
        <div class="col-lg-6">
          <h3 class="resume-title">Summary</h3>
          <div class="resume-item pb-0">
            <h4>Bruce Takura Chimoyo</h4>
            <p><em>Innovative and deadline-driven Software Enginerr with 3+ years of experience designing and developing
                user-centered software solutions from initial concept to final, polished deliverable.</em>
            </p>
            <ul>
              <li>No.8 Loraine Dr, BluffHill Westgate, Harare</li>
              <li>(+263) 778275503</li>
              <li>chimoyo.takura&#64;yahoo.com</li>
            </ul>
          </div>

          <h3 class="resume-title">Education</h3>
          <div class="resume-item">
            <h4>Ordinary Level</h4>
            <h5>2012 - 2015</h5>
            <p><em>Gifford High School, Bulawayo</em></p>
            <p>Attained 9 ordinary level passes (7A's, 2B's) including Mathematics, English and Integrated Science.</p>
          </div>
          <div class="resume-item">
            <h4>Advanced Level</h4>
            <h5>2016 - 2017</h5>
            <p><em>Gifford High School, Bulawayo</em></p>
            <p>
              Attained 3 passes in Mathematics, Physics and Chemistry with grades A, B, A respectively.
            </p>
          </div>
          <div class="resume-item">
            <h4>BSc Honors in Computer Science</h4>
            <h5>2018 - 2022</h5>
            <p><em>National University of Science and Technology, Bulawayo</em></p>
            <p>
              Attained an undergraduate degree in the Upper Second Class division.
            </p>
          </div>

          <h3 class="resume-title">Proffessional Certifications</h3>
          <div class="resume-item">
            <h4>Ordinary Level</h4>
            <h5>2012 - 2015</h5>
            <p><em>Gifford High School, Bulawayo</em></p>
            <p>Attained 9 ordinary level passes (7A's, 2B's) including Mathematics, English and Integrated Science.</p>
          </div>
        </div>
        <div class="col-lg-6">
          <h3 class="resume-title">Professional Experience</h3>
          <div class="resume-item">
            <h4>Junior full-stack developer</h4>
            <h5>May 2021 - September 2021</h5>
            <p><em>National Tickets Zimbabwe, Harare </em></p>
            <ul>
              <li>Conducted the requirements engineering process, documented user requirements and distributed them
                amongst the development team. </li>
              <li>
                Actively participated in system design sessions as well as conducting background research to come up with
                cost-effective, efficient and maintanable software solutions
              </li>
              <li>Responsible for UI / UX design of the company's ticket booking system to ensure a smooth booking
                workflow using Figma and wireframing tools.</li>
              <li>Developed a ticketing booking system frontend using the Angular framework.</li>
              <li>Collaborated with a distributed team of developers in building system backend APIs using the
                PHP/Laravel framework.</li>
              <li>Conducted code reviews , thereby ensuring quality code as well as well enhancing my knowledge by
                learning how other team members approach their problems.</li>
              <li>Responsible for setting up deployment environments in preparation for live deployments as well as
                ensuring secure operating conditions for the company's systems</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Frontend developer</h4>
            <h5>September 2022 - December 2023</h5>
            <p><em>Nybbles and Bytes, Harare</em></p>
            <ul>
              <li>Worked closely with a team of seasoned developers on a core insurance system.</li>
              <li>Conducted the system UI/UX design in collaboration with the system end users to ensure system
                user-friendliness.</li>
              <li>Implemented frontend compenents for every feature that was required on the system using the Angular
                framework. </li>
              <li>Performed a series of regression tests to ensusre that the system flow aligns with the business goals.
              </li>
              <li>Actively participated in system design sessions and contributed to the design of efficient and
                scalable software solutions</li>
              <li>Collected, documented and communicated user feedback to the rest of the development team as well as
                performing code-refactoring thereby enhancing code quality.</li>
            </ul>
          </div>
          <div class="resume-item">
            <h4>Full-Stack developer</h4>
            <h5>January 2024 - Current</h5>
            <p><em>Bluefin Technology/Champions Insurance, Harare</em></p>
            <ul>
              <li>Actively involved in architecting and implementing scalable and reliable software solutions for
                insurance applications.</li>
              <li>Collaborating with cross-functional teams, including product managers, UX/UI designers, and business
                analysts, to gather requirements and prioritize tasks</li>
              <li>Implemented user friendly, responsive and cross-platform interfaces to ensure compatibility across
                various devices and web browsers therefore reaching a wider user-base.</li>
              <li>Building robust server-side logic to handle insurance business processes and data management hence assuring client security and trust.</li>
              <li>Conducting thorough testing, including unit tests, integration tests, and end-to-end tests resulting in clean and maintanable code.</li>
              <li>Setting up CI/CD pipelines to automate the build, testing, and deployment processes for insurance
                applications on both the client-side and on the server side.</li>
            </ul>
          </div>
        </div>
      </div>

    </div>
  </section>

</div>