<div>
  <div class="navbar-wrapper">
    <app-navbar></app-navbar>
  </div>
  <section id="blog" class="blog extracted-page">
    <div class="container">
      <div class="section-title">
        <h2>I write too</h2>
        <p>Blog</p>
      </div>

      <!-- Category Filters Skeleton -->
      <div class="row" *ngIf="isLoadingCategories">
        <app-blog-search-skeleton></app-blog-search-skeleton>
      </div>

      <!-- Actual Category Filters -->
      <div class="row" *ngIf="!isLoadingCategories && blogCategories !=undefined || blogCategories != null">
        <div class="blog-search-inner">
          <input placeholder="Search my blog" class="blog-search-input" />
          <div class="filters">
            <div (click)="filterBlogs(category)" *ngFor="let category of blogCategories" class="filter-item">
              <span>{{toTitleCase(category)}}</span>
            </div>
          </div>
        </div>
      </div>
      <hr />
      
      <!-- Blog Posts Skeleton -->
      <div class="row blog-items-container" *ngIf="isLoading">
        <app-blog-skeleton></app-blog-skeleton>
      </div>

      <!-- Actual Blog Posts -->
      <div class="row blog-items-container" *ngIf="!isLoading && blogPosts">
        <div class="blog-items-inner">
          <app-blog-card
            *ngFor="let post of blogPosts; trackBy: trackByBlogId"
            [blogItem]="post"
          ></app-blog-card>
        </div>
      </div>
    </div>
  </section>
</div>
